.container{
    border-top: 1px solid #86D4D4;
    margin-top: 4rem;
    padding: 20px;
}
.darkContainer{
    border-top: 1px solid transparent;
    margin-top: 4rem;
    padding: 20px;
    background-color: #011616;
    color: #AEEEEE;
}
.itemContainer{
    margin: 0 auto;
    max-width: 500px;
}
.itemContainer p{
    text-align: center;
}
.official{
    padding: 20px 0;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    border-bottom: 1px solid #1AC7C7;
}

.official img{
    width: 40px;
}
.commercial{
    color: #015959;
    font-weight: 600;
    gap: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    width: 100%;
}
.dark{
    color: #AEEEEE;
}
.commercial img{
    width: 24px;
    height: 24px;
}
@media screen and (max-width:470px) {
 .itemContainer p{
     font-size: .9rem;
 }   
 .commercial{
     font-size: .8rem;
 }
}